html, body, #root {
  margin: 0;
  height: 100%;
  background-color: #293133;
  font-family: "Lato", sans-serif;
}

#App {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background {
  background-image: url("./alarm clock.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: blur(5px);
}

#main {
  position: absolute;
}

#theme-switcher {
  display: flex;
  justify-content: space-around;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Prata', serif;
}

#pomodoro {
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 20px;
  width: 270px;
}

.pomodoro-red {
  background: #FF7043;
}

.pomodoro-green {
  background: #8bc34a;
}

#break-container, #session-container, #timer-container, #controls-container, #themes-container {
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  border-radius: 10px;
}

.timer-container-break {
  background: repeating-linear-gradient(
    45deg,
    #00bcd4,
    #00bcd4 10px,
    #006064 10px,
    #006064 20px
  );
}

.timer-container-session {
  background: repeating-linear-gradient(
    45deg,
    #ff9800,
    #ff9800 10px,
    #E65100 10px,
    #E65100 20px
  );
}

.timer-container-break-stop {
  background: repeating-linear-gradient(
    45deg,
    #00bcd4,
    #00bcd4 10px,
    white 10px,
    white 20px
  );
}

.timer-container-session-stop {
  background: repeating-linear-gradient(
    45deg,
    #ff9800,
    #ff9800 10px,
    white 10px,
    white 20px
  );
}

#break-container {
  background: #00bcd4;
}

#session-container {
  background: #ff9800;
}

#themes-container .buttons-container {
  justify-content: center;
}

#themes-container button {
  border-radius: 0;
  height: 31px;
  width: 55px;
  margin-left: 5px;
  margin-right: 5px;
}

.buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#break-container button, #session-container button {
  font-size: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid gray;
}

#break-container button {
  background: #00acc1;
  border: 1px solid #006064;
}

#session-container button {
  border: 1px solid #E65100;
  background: #f57c00;
}

#break-container button:hover, #session-container button:hover, #themes-container button:hover {
  border: 1px solid black;
}

#break-container button:active, #session-container button:active, #themes-container button:active {
  box-shadow: inset 3px 3px 3px gray;
}

#break-container button:focus, #session-container button:focus, #themes-container button:focus {
  outline: none;
}

.text {
  text-align: center;
  margin-bottom: 5px;
}

#timer-container .text {
  box-shadow: 0 0 7px 7px white;
  background: white;
  border-radius: 10px;
  margin-top: 5px;
}

#controls-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

#controls-container button {
  width: 80px;
  height: 35px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.controls-container-red {
  background: #FF7043;
}

.controls-container-green {
  background: #8bc34a;
}

.controls-container-button-red {
  border: 1px solid #BF360C;
  background: #ff5722;
}

.controls-container-button-green {
  border: 1px solid #33691E;
  background: #7CB342;
}

.controls-container-button-gray {
  border: 1px solid #616161;
  background: #e0e0e0;
}

#controls-container button:hover {
  border: 1px solid black;
}

#controls-container button:active {
  box-shadow: inset 3px 3px 3px gray;
}

#controls-container button:focus {
  outline: none;
}

#break-length, #session-length {
  text-align: right;
  display: inline-block;
}

#time-left {
  width: 51px;
  display: inline-block;
}

#red-theme, #green-theme, #gray-theme {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

#red-theme {
  background: #FF7043;
  border: 1px solid #bf360c;
}

#green-theme {
  background: #8bc34a;
  border: 1px solid #33691e;
}

#gray-theme {
  background: #9e9e9e;
  border: 1px solid #616161;
}

#red-theme:focus, #green-theme:focus, #gray-theme:focus {
  outline: none;
}

@media screen and (max-height: 770px) {
  h1 {
    display: none;
  }
}

@media screen and (max-height: 625px) {
  #break-container, #session-container, #timer-container, #controls-container, #themes-container {
    margin: 5px;
    padding-top: 5px;
  }

  #controls-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}